{% extends 'base.html' %}

{% block title %} Multilingual FrameNet {% endblock %}

{% block content %}

<h1>Lexical units</h1>

<p>Choose lexical unints associated with a chosen graph</p>

<div style="justify-content: center; margin: 30px; align-items: center; box-sizing: border-box;">
<form style="display: flex; width: 100%; justify-content: center;" method="post">
    <select id="frame_id" name="frame_id" required>
        <option value="" disabled selected>Select a frame</option>
        {% for frame in frames %}
            <option value="{{ frame.id }}">{{ frame.frame }}</option>
        {% endfor %}
    </select>
    <button type="submit">Search</button>
</form>
{% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>

{% endblock %}
