{% extends 'base.html' %}

{% block title %} Multilingual FrameNet {% endblock %}

{% block content %}
<h1> Welcome to Multilingual FrameNet! </h1>

    
<div class="container1">
    <a class="column" href="/about">
        <p style="font-weight: bolder;">About us</p>
        <p style="margin-top: 20px">Learn more about the project!</p>
    </a>
    <a class="column" href="/data">
        <p style="font-weight: bolder;">Data</p>
        <p style="margin-top: 20px">Frames and lexical units</p>
    </a>
    <a class="column" href="/graphs">
        <p style="font-weight: bolder;">Graphs</p>
        <p style="margin-top: 20px">Graphs and statistics</p>
    </a>
</div>

{% endblock %}
