{% extends 'base.html' %}

{% block title %}Lexical Units{% endblock %}

{% block content %}
<h1>Lexical Units</h1>
<p>This page contains a list of lexical units in Multilingual FrameNet</p>

<!-- Search form -->
<div class="search-form-container" style="justify-content: center; margin: 30px; align-items: center; box-sizing: border-box;">
    <form style="display: flex; width: 100%; justify-content: center;" method="get" action="{{ url_for('lexical_units') }}">
        <input type="text" name="search" placeholder="Search for lexical units" value="{{ request.args.get('search', '') }}">
        <select name="language" style="padding: 10px 20px; font-size: 16px; border: 1px solid #ccc; border-left: none; outline: none;">
            <option value="">all languages</option>
            <option value="en">english</option>
            <option value="de">german</option>
            <option value="zh">chinese</option>
            <option value="sv">swedish</option>
            <option value="ar">arabic</option>
            <option value="es">spanish</option>
            <option value="fr">french</option>
            <option value="pt">portuguese</option>
        </select>
        <button style=" background-color: #96c357; border: none; border-radius: 0 8px 8px 0;  padding: 10px 20px; font-size: 16px; color: white; cursor: pointer;" type="submit">Search</button>
    </form>
</div>


<div style="display: flex; justify-content: space-between; padding: 20px; align-items: center;">
    {% if pagination.has_prev %}
        <a style="color: gray; text-decoration: none;" href="{{ url_for('lexical_units', page=pagination.prev_num, search=request.args.get('search', ''), language=request.args.get('language', '')) }}">Previous page</a>
    {% endif %}

    {% if pagination.has_next %}
        <a style="color: gray; text-decoration: none;" href="{{ url_for('lexical_units', page=pagination.next_num, search=request.args.get('search', ''), language=request.args.get('language', '')) }}">Next page</a>
    {% endif %}
</div>


<ul style="display: flex; flex-wrap: wrap; list-style-type: none; padding: 0; margin: 0;">
    {% for lu in lexical_units %}
        <li style="background-color: #96c357;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;  
        padding: 20px;
        flex: 1 1 200px; 
        box-sizing: border-box;
        text-align: center;"><a style="text-decoration: none; color: #000; font-weight: bold;" href="{{ url_for('lexical_unit_detail', lu_id=lu.id) }}">{{ lu.lu }} ({{ lu.language }})</a></li>
    {% endfor %}
</ul>

{% endblock %}
